* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(3, 0, 24);
  color: whitesmoke;
}



/* cards, obviously */

.card{
  border: 1px solid hsl(0, 0%, 37%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.203);
  padding: 20px; /* between element and border */
  margin: 10px; /* space outside of the border */
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 22%);
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(179, 179, 179);
}



/* props */

.student{
  font-family:'Courier New', Courier, monospace;
  font-size: 2em;
  border: 1px solid whitesmoke;
  text-align: center;
}



/* conditional rendering */
.welcome-message{
  font-size: 2.5em;
  background-color: rgb(0, 51, 4);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}



.login-prompt{
  font-size: 2.5em;
  background-color: rgb(51, 0, 51);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}



/* list rendering  */
.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 25%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
}

.list-items{
  font-size: 2em;
  list-style: none;
  color: #333;
  text-align: center;
}

.list-items li:hover{
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}


/* onClick */

/* .button-three{

} */

.button-three:hover{
  cursor: pointer;
  color: #cecece;
}

.alert-button:hover {
  cursor: pointer;
}


.profile-picture:hover {
  cursor: pointer;
};