* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

.card{
  border: 1px solid hsl(0, 0%, 37%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.203);
  padding: 20px; /* between element and border */
  margin: 10px; /* space outside of the border */
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 22%);
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(179, 179, 179);
}
